<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="taglib-sharp" publicKeyToken="db62eba44689b5b0" />
         <bindingRedirect oldVersion="2.0.0.0-2.0.3.7" newVersion="2.0.3.7"/>
       </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
